[2020-05-10 20:02] r0hin opened #4 "Feature Requests"
Hi,
had some potential feature requests:

- Custom select something like [this](https://material-components.github.io/material-components-web-catalog/#/component/select)
- list in the readme or someplace listing the changes from the original fork.
- Ripple effect
- In the text fields, add a ripple to the underline like [this](https://material-components.github.io/material-components-web-catalog/#/

[2020-05-11 11:26] djibe commented on #4
Hi, thx for your requests.
I share your wishes and will try to do my best (even though I am no developer at all).

I'll start with ripple effect.

For the closing animation of Dialogs, I don't think it is a good idea because Material components don't have this effect ;

- https://material-components.github.io/material-components-web-catalog/#/component/dialog
- https://material.io/components/dialo

[2020-05-11 13:38] r0hin commented on #4
Hi, thanks for trying!

I'm also not a developer, but I suppose I have some experience and could contribute some things.
As for the modal, I was thinking like a fade effect like the examples you sent.

I would recommend implementing something like [Fians Waves Effect](https://github.com/fians/Waves) as it looks pretty clean and I've used it before.

[2020-05-11 13:39] djibe commented on #4
I'm on it at this exact moment :D

[2020-05-11 13:42] r0hin commented on #4
Awesome thanks so much. I guess while I'm here I should mention some things like tabs which aren't present in the forked version but are there in the original repo.

**Edit:** Found out I was being dumb, tabs exist!

[2020-05-11 13:46] djibe commented on #4
These tabs ?

https://djibe.github.io/material/docs/4.4/material/tabs/

[2020-05-11 13:49] r0hin commented on #4
omg yes... the search feature, i thought it was just no results for tabs !!

[2020-05-11 13:53] djibe commented on #4
Search field is disabled. Dependant on algolia.
I'll have to fix it too.

Look at every Material component and tell me what you think.

[2020-05-11 14:21] r0hin commented on #4
I've pretty inexperienced I would say but here's my feedback:

- Buttons, cards, chips, progress, shadows, lists, and data tables are remarkably similar to google's specifications, missing waves obviously
- Dialogs missing a fade imo
- Menu & Dropdown animations could be tweaked kind of like [material components version](https://material-components.github.io/material-components-web-catalog/#/compo

[2020-05-12 09:09] djibe commented on #4
Good news,
I did line ripple and button ripple yesterday.

Now I have to integrate it nicely.

[2020-05-12 12:45] djibe commented on #4
You can test line ripples here : https://djibe.github.io/material/docs/4.4/material/text-fields/

[2020-05-12 13:13] tbuyle opened #6 "(Date) Picker for desktop"
The current picker is the mobile date picker.

For desktop app, the material guidelines suggest a different behavior with the picker displayed as a dropdown calendar rather than a dialog : https://material.io/components/pickers#desktop-pickers.

[2020-05-12 13:49] CodexLink opened #7 "Tabs Content | Fast Transitioning To Another Content Failed To Hide Previous Content"
Hey there! It's been a while...

Anyway, I have this kind of issue before and I'm glad you opened the "Issues" tab on your repository. and I still don't know how to fix it yet, since I went back to see updates on your work. Though I might propose it via PR if I already know how to do it.

What's the issue?
Basically, the issue here is how tabs hide their own respective content. When you did a norm

[2020-05-12 14:34] djibe commented on #6
I did a theme for flatpickr.
I'll do a new repo for it now.

[2020-05-12 14:37] djibe commented on #6
Demo here : https://jsfiddle.net/djibe89/xn153qdg/

[2020-05-12 14:38] djibe commented on #7
Thx for reporting issue.
I'll try to investigate.

[2020-05-12 15:47] tbuyle commented on #6
Interesting.

I guess the ideal feature would be to have the picker displayed as dialog or dropdown accroding to the screen size... But that wouldn't be easy I fear.

[2020-05-12 17:09] djibe commented on #6
I think people should pick the Picker they want.

[2020-05-12 21:24] djibe commented on #4
You can test button ripples here : https://codepen.io/djibe89/pen/oNjMjQx

[2020-05-12 21:29] r0hin commented on #4
Ripples are great!!
Nice to see this quick progress

[2020-05-12 21:43] r0hin commented on #4
I imagine this will be applied to all the other parts of UIs: ie the dropdown menus, tabs, selects.., right?

[2020-05-12 22:18] djibe commented on #4
Yep

[2020-05-13 01:02] r0hin commented on #4
Hey, noticed a small bug in the demo on codepen. If you click directly on the icon in the button, the waves effect doesn't show.

[2020-05-13 07:44] djibe commented on #4
Yep I noticed, I'm on it

[2020-05-13 07:59] tbuyle commented on #6
I think otherwise... But I am not wiser than anyone and other options are just as good.

On a project using Material 1, I made some adjustment so that displaying the datepicker is optional (small calendar icon to click to view the calendar) - it requires some custom code but it could also be an option for the picker.

This app has long form (with dozen of fields) and user are used to navigate usei

[2020-05-13 08:11] djibe commented on #4
Fixed by luncheon https://codepen.io/luncheon/pen/zYvLNvM

[2020-05-13 14:05] r0hin commented on #4
looks great!

[2020-05-14 03:59] r0hin commented on #4
I think I got git contributing figured out :D was wondering if you need any help with any components or if anything is unfinished?

[2020-05-14 07:43] djibe commented on #4
Hey ! Git is good :D

I had troubles with switch component.
It is the last one missing I think.
I enhenced Buttons + icons yesterday (Fontawesome 4 + 5 + svg support)

[2020-05-14 15:15] r0hin commented on #4
Alright, I have it cloned and everything, how do you usually do development?

[2020-05-14 15:27] djibe commented on #4
I usually have an HTML page in a folder.
And copy latest material.css and material.map.css in it.

Then I customize component using <style> in HTML header.
I test in various conditions.

And then integrate code in scss.
You can just edit CSS for the Switch component and send it to me.
I'll do the rest and credit you.

Thx a lot.
Good tutos on Udemy for Git, Github and SASS/SCSS.

[2020-05-14 20:57] stsrki opened #8 "Alert background"
Hi, I started to update my project with your material implementation instead of daemonite. I noticed that alerts are looking different than those in daemonite or in other frameworks for that matter.

**Your alert:**

![image](https://user-images.githubusercontent.com/900302/81984616-5a431400-9635-11ea-83f5-76c86235bbd1.png)

**Daemonite:**

![image](https://user-images.githubusercontent.com/900302

[2020-05-14 21:10] djibe commented on #8
For now.

I don't find any Material study for such component.

[2020-05-15 07:15] tbuyle commented on #8
I think there are no "alert" as such in Material Guidelines.

Instead, there are 3 components to be used for feedback / notification, depending on the priority and how interuptive the message should be :

<img width="772" alt="Snackbars_-_Material_Design" src="https://user-images.githubusercontent.com/467350/82022140-6e663000-968c-11ea-8db9-9cb1734a7e81.png">

Here is how I understand it :
- Error

[2020-05-15 07:21] tbuyle commented on #8
(Obviously, it's not up to this Material implementation to display Dialog / Banner / Snackbar instead of the bootstrap alerts)

[2020-05-15 07:25] djibe commented on #8
But I never saw an Alert in any of Google's sites.
What do you find closer in concept on their sites ?

[2020-05-15 07:26] tbuyle commented on #8
"Banner"  is probably the closest component to how Alerts are used. They display a message with or without action, appear on top of the screen and stay there until dismissed.

https://material.io/components/banners

[2020-05-15 08:55] tbuyle commented on #8
Guidelines for Banners do not to use colors to distinguish the different alert type.

One solution that would follow the Material Guideline would be to display alert as Banner with an icon as supportive illustration :
- Danger : ~red _error_ icon
- Warning : ~orange _warning_ icon
- Info : ~primary _info_ icon
- Success : ~success _check_circle_ icon

What do you think ?

[2020-05-15 09:07] djibe commented on #8
I share the same conclusion.
I'll do it.

[2020-05-15 09:10] tbuyle commented on #8
Great !

I may be able to help on that one if needed.

[2020-05-15 12:30] stsrki commented on #8
I think Banner can be a different and separate component. For Alert on other hand it is better to be done the same as in other frameworks. While it is true that Alert doesn't exist in material guidelines, current implementations are already standard, in my opinion.

[2020-05-15 12:54] tbuyle commented on #8
In my opinion, "Alerts" are a poorly-considered solution for application feedback when creating UX.

Google's Material choose not to include them to favor a more complete approach of confirmations and acknowledgement in an application : https://material.io/design/communication/confirmation-acknowledgement.html#usage

I then wouldn't mind if this implementation displays alert as banners as they are

[2020-05-15 13:48] djibe commented on #8
Glad to see the debate I had with myself :D

[2020-05-15 20:44] r0hin commented on #4
Here's switch
https://pastebin.com/raw/Ccqt0ht6

[2020-05-15 21:27] djibe commented on #4
Hey, thx.

looks like you used Daemonite HTML markup that dates back to Bootstrap having no switches.

Can you do it for Bootstrap's Switch ?
https://djibe.github.io/material/docs/4.4/components/forms/#switches

Thks.
I won't do CSS this weekend.
See you next week.

[2020-05-17 18:44] r0hin commented on #4
Got it :D.
Sorry for late reply (didn't get the edit notification)

[2020-05-18 18:45] djibe commented on #6
Here is my conclusion,

I remove the Picker and move to Flatpickr, better for PC.
https://jsfiddle.net/djibe89/xn153qdg/

For mobile, we leave it to the OS built-in picker, as people are used to their own phone's UI.

What do you think ?

[2020-05-18 23:10] r0hin commented on #4
I'm not sure how to solve this as the ::before is the onclick wave thing and that's whats used as the slider in regular bootstrap

[2020-05-19 07:34] tbuyle commented on #6
Sounds reasonable.

It would be nice to allow the various options of flatpicker to be used.

The `clickOpens` and `allowInput` for example are important for me as I work on application where some power-users are used to encoding (in my app or another) : they navigate forms  with tabs and would rather encode date by typing them... On the other hand, a picker is required for other users in the app.

[2020-05-19 11:01] djibe commented on #6
@tbuyle
So like the first example ?
https://jsfiddle.net/djibe89/xn153qdg/

I think I'll use this config as default

inline: false,
mode: "single",
allowInput: true,
disableMobile: false // Mobile browser autodetected, no need https://flatpickr.js.org/mobile-support/

To use keyboard, don't set readonly on input.

How do you validate dates ?

[2020-05-19 12:19] tbuyle commented on #6
Yes,

As explained on https://material.io/components/pickers#desktop-pickers , desktop picker should allow user to enter date both with the picker or typing in the input.So I would have `allowInput: true` by default.

But I think it would be nice to allow all flatpicker options to be set. It would be usefull to have a way to set options (ideally via data attributes or JavaScript like other (Bootst

[2020-05-24 21:34] djibe commented on #8
First try. What do you think ?

![Screen Shot 05-24-20 at 11 32 PM](https://user-images.githubusercontent.com/13089414/82765408-11e6db80-9e17-11ea-933f-837bbacc6d4a.PNG)

[2020-05-24 22:16] stsrki commented on #8
I like the ones with icon and the background (dark,light). But I'm not sure if it's the best idea to have different layout for each color variant.

[2020-05-25 07:01] tbuyle commented on #8
I like the one with the icons.

Could they be combined with the dark- and light- ones ?

[2020-05-25 08:20] stsrki commented on #8
I like the idea of combining icons with the background. Maybe have the background color based on the variant, and then adjust the icon and text color to be black or white. The text color example can be seen on dark and light alerts.

[2020-05-25 08:40] djibe commented on #8
Hi. Thx for your feedback.
Can you both make a drawing of expected result for every alert-variant ?
In order to debate carefuly now and then close this issue.

[2020-05-27 10:41] djibe commented on #4
@rohinarya12 Let it go.
I've fixed it. Will be in next release when I have solved ripple default config.

(gif is not perfectly fluid but component is)

![switch](https://user-images.githubusercontent.com/13089414/83009648-5a6ce780-a017-11ea-9578-67494356813f.gif)

[2020-05-27 15:08] r0hin commented on #4
Really? You got it?! I tried for a while, couldn't figure it out :O

[2020-05-27 15:17] djibe commented on #4
I updated code in repo.
See _selection-control.scss.
Just setting 2 box-shadows on switch handle (original + shadow when input.custom-control-input is :focused)

[2020-05-29 18:38] djibe commented on #4
Brand new release : https://djibe.github.io/material/
Switches + button ripples

[2020-05-30 02:45] r0hin commented on #4
Looks great and the library you used is really good :D. I’m sure you are aware but the waves aren’t yet implemented across the components such as dropdown items and tabs.

Good stuff though

[2020-05-31 19:59] djibe commented on #4
I'm on it :D

[2020-06-11 10:11] justlevine opened #9 "Migration docs"
I see you renamed a lot of the scss files. Any chance for a list so those of us switching from daemonite have an easier time migrating?

[2020-06-11 19:13] djibe commented on #9
Hi,
Good point. Not that much in fact.
Just dropped custom snackbars for Bootstrap toasts.
Added new Bootstrap components and ... I don't see other changes.

I'll try to write it down soon.

Don't hesitate to ask for details,  it will be useful for doc improvement.
But maintaning doc alone is harassing.

[2020-06-20 05:17] zelenij opened #10 "Any way to make this work with select2?"
This is a great piece of work, my web site looks very material!  One thing is missing - there are no searchable select box options.  A third party plugin for JQery exists, but it doesn't play nice with this whole setup.  Any ideas on how to fix it? https://select2.org/ - the resulting selects show up as "regular" bootstrap ones (or even plain ones, can't really tell).  Kinda breaks the whole visua

[2020-06-22 00:09] justlevine commented on #10
What specifically is the problem? Select2 works fine on my install...

[2020-06-22 00:13] justlevine commented on #9
The bulk of the changes seem to to be changes from singular tense to plural.
`bootstrap/`
form to forms,
image to images,
transition to transitions,
button to buttons, button-flat, button-float, and button-group

 `material/`
snackbar to snackbars.

Those are the ones I noticed, at least.

[2020-06-22 00:18] justlevine opened #11 "utilities/ripple.scss missing."
Seems in the last commit to [_utilities.scss](https://github.com/djibe/material/blob/master/assets/scss/_utilities.scss), you added a reference to 'utilities/ripple', but no scss file with that name exists, leading to compilation errors.

[2020-06-22 00:21] zelenij commented on #10
Well, the ones with select2 look different.  Here is a screenshot for illustration - there are two selects side by side, the one on the left is unmodified, the one on the right is with select2.  Note the rounded appearance of the frame etc.

![image](https://user-images.githubusercontent.com/5512551/85238526-14157780-b461-11ea-8b89-c0c9a19ae380.png)

[2020-06-22 00:32] justlevine commented on #10
Ahh so its not that select2 doesnt work, its that it has its own css styles?
Try googling select2 material themes and you should find a bunch of 3rd-party css files.
Based on your screenshot this one seems like itl fit [https://codepen.io/rpuga/pen/Baypwpr](https://codepen.io/rpuga/pen/Baypwpr)

[2020-06-22 00:39] zelenij commented on #10
Well, I tried that, and I found the same link you shared.  However, the end result was kinda ugly and not matching what you can see in codepen.  I suspect it might be clashing with material design UI.  Obviously, this probably can be debugged, but I was wondering if this is something other people have already figured out.

[2020-06-22 06:44] djibe commented on #11
Hi. Thx for report.
Fixed in latest commit.
Sorry for that. My SSD crashed and I'm reinstalling my environment.
Don't hesitate to reopen Issue if necessary

[2020-06-22 06:44] #11 closed, assigned to nobody

[2020-06-22 06:47] djibe commented on #9
True. I follow Bootstrap naming of imports.
Forgot this info since it was my preleminary work when upgrading to 4.4.
Sorry for that. It is hard to be alone on such a project.

[2020-06-22 07:18] tbuyle commented on #10
I use Select2 with Material (Daemonite version) with some CSS and it works ok.

Here is a GIST with my sccs : https://gist.github.com/tbuyle/4b6aa8c2fe7dfaea1103c0f7eb76fc1c

It's certainly not 100% perfect but it does the trick for me.

[2020-06-22 07:33] tbuyle commented on #8
Sorry for the delay. Here is a my latest implementation...

<img width="473" alt="materialflash" src="https://user-images.githubusercontent.com/467350/85260692-6065b500-b46b-11ea-9a39-316cdf01fbad.png">

Primary and secondary use the theme's color. Orange my be a but confusing as primary here...

[2020-06-22 07:37] stsrki commented on #8
@tbuyle I like the look of colored icons.

@djibe I stumbled upon a template that have Alerts and Callouts components similar to what you created. You can see it here https://adminlte.io/themes/v3/pages/UI/general.html

[2020-06-22 07:45] tbuyle commented on #8
Thnaks.

I opted for colored icons so both color and shape are different between the alert types. For the same reason I did not use the circle-i for info et and circle-! for danger because their shape are too similar.

I don't really like the bell for "info" but I wanted to stick with standard material icons and could not find a better one (suggestions are thus welcome).

[2020-06-22 12:31] zelenij commented on #10
@tbuyle I tried compiling your scss to CSS using a command line tool, but it failed :)

[2020-06-22 12:37] tbuyle commented on #10
This SCSS depends on variables from Bootstrap and material and can not be compiled alone.

[2020-06-23 10:59] djibe commented on #10
I'm working on it

[2020-06-23 20:49] djibe commented on #10
Working on the default one.
![default](https://user-images.githubusercontent.com/13089414/85459857-f18b7780-b5a2-11ea-97f0-0440d51acee8.gif)

you will be able to set: theme: 'outlined' for this
![outlined](https://user-images.githubusercontent.com/13089414/85459850-efc1b400-b5a2-11ea-9f62-bea880cfbfb4.gif)

I have to do:

- [X] Merge Select2 + Select2 Bootstrap4 + djibe SCSS sources for lighter th

[2020-06-23 23:25] zelenij commented on #10
Thanks! I knew it wasn't trivial :)

[2020-06-24 18:28] djibe commented on #8
Thx for your suggestions. I'll try to do it soon but my PC is completly unstable.
Thought SSD was crashed but HDD is failing. It seems my PSU is KO.
I'm on Select2 plugin now.

[2020-06-25 07:13] tbuyle commented on #8
Here is a Gist with some SCSS that should corresponds.
https://gist.github.com/tbuyle/f0be059dc65eb10d75d594a9fb4a0df3

Not sure the '@extend .navbar-toggler-icon;' is the best solution for the icon, but it's working :-D

[2020-06-25 07:17] stsrki commented on #8
One thing I don't like about version with icons is that it's too specific. What if user want's to switch to some other icon package instead of material? Then it would not work at all.

[2020-06-25 07:50] tbuyle commented on #8
As far as I understand it, Material is using Google Material Icons only for now (see https://djibe.github.io/material/docs/4.5/material/icons/ ).

Using other package would therefore means adding some custom CSS - Alerts would then be one of the elements changed by this custom CSS.

However, a possible improvement to the code I posted on gist would be to use an 'icon' mixin to display the icons (i

[2020-06-25 19:41] djibe commented on #10
Hi @zelenij , here is a first version : https://gist.github.com/djibe/2f394a3c7e7eb2510a801cce976ad6f1
Standalone (don't import any Select2 css file).
Don't set a theme or set it to 'outlined'

Optgroup is bugged
Searchbox is ugly

[2020-06-30 16:40] djibe commented on #10
Hi, I updated Gist with default, or theme 'outlined' and theme 'filled'.
Can you test it ?

[2020-07-02 11:13] zelenij commented on #10
Thank you @djibe, will give it a go and update

[2020-07-02 11:23] zelenij commented on #10
To be honest, I don't see much difference - the only thing, select drop down looks more material:

![image](https://user-images.githubusercontent.com/5512551/86353061-4e6ce900-bc99-11ea-8940-4b37c289e034.png)

I copied your gist into a css file and linked it to my site, I presume this is how it is supposed to be used?

Select2@4.1.0-beta.1 .  Also tried 4.0.13, but actually looks ugly :)

[2020-07-02 11:57] djibe commented on #10
Hi, don't import any other Select2 css.
Use latest Select2.
Set theme: 'outlined' (or 'filled')
I updated Gist right now.

I'm nearly done with multiple select.

[2020-07-02 12:14] zelenij commented on #10
I think it's better, but with filled theme the multi-select looks kinda dodgy:

![image](https://user-images.githubusercontent.com/5512551/86357618-afe48600-bca0-11ea-99fe-2df3b4fe5efb.png)

[2020-07-02 14:07] djibe commented on #10
I'm not done with Multiple version.

[2020-07-02 21:22] djibe commented on #10
@zelenij
Think I got it. See my gist.
$(".js-example-basic-single").select2({
          theme: "filled",
          placeholder: 'Fruit',
          width: '300px',
          multiple: true,
          // minimumResultsForSearch: Infinity /* Hide search on single */
        });

Select2 width has to be set with JS.

For a simple single select, I use a minimum 200px width that don't have to be manuall

[2020-07-03 00:10] zelenij commented on #10
Visually looks better! I think there is a bug however:

![image](https://user-images.githubusercontent.com/5512551/86418926-5746d480-bd04-11ea-8070-cceb0c9785a2.png)

I select the first item from the drop down. If I close the drop down it is not shown in the main area:

![image](https://user-images.githubusercontent.com/5512551/86418971-84938280-bd04-11ea-95aa-5828397c4b50.png)

Selecting other it

[2020-07-03 08:30] djibe commented on #10
True.
This is because I tested with a placeholder (so a first blank option).
i'll try to fix it tonight.

[2020-07-03 20:26] djibe commented on #10
@zelenij
Updated gist.
Hope it is final version :D
Is it good for you ?

[2020-07-06 20:13] djibe commented on #10
@zelenij Hi, is the latest Gist update good for you ?

[2020-07-11 09:31] zelenij commented on #10
@djibe - sorry for not coming back earlier, was dealing with unrelated stuff.  Looks fine now, thanks.  Is there a way to control the height of the multi-select box? See how a single and multi-select ones differ here?

![image](https://user-images.githubusercontent.com/5512551/87221140-4d743f80-c39c-11ea-978c-2d5860f26d47.png)

[2020-07-11 14:15] djibe commented on #10
Hi @zelenij
Normaly the filled theme is 56px height.
I updated gist.
You may try again.

[2020-07-12 03:44] zelenij commented on #10
I don't see any difference to be honest.  And looking at the latest commit in the gist, I see that the only change is the background image.  Maybe you didn't push the rest of it? :)

[2020-07-15 20:40] stsrki opened #12 "Switch and Checkbox sizes"
Hi, any chance you might consider adding support for `sm` and `lg` sizes for Switch, Checkbox and Radio component? Other input components already have it and I think this could be a nice feature to have.

[2020-07-16 06:51] tbuyle opened #13 "Persistent navdrawer disables input field"
I noticed that when a pesistent navdrawer is opened, input fields outside of the navdrawer are "disabled".

Actually they are not disabled but you can't focus on them - thus you can use them.

This seems to be linked to the `_enforceFocus` in nav-drawer.js (line 151) altough I am not sure sure what its meant to do. I think this is inherited from bootstrap modal code.

As a workaround, one can use

[2020-07-16 17:59] djibe commented on #12
Hi, do you mean their Comfortable and Compact versions ?
https://material.io/design/layout/applying-density.html#components

Switch has no density guideline isn't it ?

[2020-07-22 10:46] MROALI opened #14 "how can i custom the theme color ?"
Hello,
thankyou for your good work.
I have two  questions :
1- how can i customise primary color in the theme. for exemple use blue in place of purple ?
2- Where can i found the documentation about how to use the datepicker and the other addons lib for exemple select2, etc.. and the other components ..

[2020-07-22 12:03] djibe commented on #14
Hi,
to change theme color you need to install Node.JS and clone this repository (or download as zip file).
Set your color in material.scss at the top of the file with example below (I used a light blue).

[code]

Open a terminal located on the material folder.
Type ```npm run css```

Your customized theme is in folder css\material.css

For plugins like Select2, I will try to release the documentat

[2020-07-22 12:07] djibe commented on #12
Hi, do you confirm my previous message ?

[2020-07-22 12:13] stsrki commented on #12
I'm really sorry, I was in a hurry when you sent last message that I forgot it later.

Anyways, I was thinking something like this:

- https://mdbootstrap.com/snippets/jquery/mdbootstrap/820849#css-tab-view
- https://stackoverflow.com/questions/55593229/increasing-the-size-of-a-bootstrap-checkbox

I know material design by default doesn't have that feature for check and switch, but it would be goo

[2020-07-22 12:20] djibe commented on #12
Hi. Thx for your feedback.
I won't introduce it now as its is neither in BS4 or MD. Maybe if BS5 does it.
It is not the vision of Material UI to introduce every component and I am not a fan of MDBootstrap which solds the work made by others (JS plugins +++)
You can feel free to create a Gist.

You can reopen Issue if you think it is important.
You can challenge iOS and MD designers if you want too

[2020-07-22 12:20] #12 closed, assigned to nobody

[2020-07-23 09:28] MROALI commented on #14
Thank you for your answer.
I cloned the repo. and added in material.scss the primary colors but it seems doesn't taked into consideration.
I have always for exemple  the  #6200ee!important in bg-primary.
Any idea ?

[2020-07-23 10:42] MROALI commented on #14
Hi,
Thankyou for your answer it works great.

I have three questions :
1 - My first question is about textfield-box, i am using a div with invalid-feedback div to show the message. The problem i have that, this div must be inside the textfield-box after the input or textarea, etc... And floating label with the textfield-box not working good the border is of textfield-box is including the invalid-f

[2020-07-23 17:41] djibe commented on #14
Hi, for answer two, I copied Google MD components for the web :

https://material-components.github.io/material-components-web-catalog/#/component/text-field

Form-text always have a padding-left

[2020-07-23 17:42] djibe commented on #14
Answer to 3)
You may try Flatpickr with my theme : https://jsfiddle.net/djibe89/xn153qdg/

[2020-07-23 17:42] djibe commented on #14
For answer 1. I'll have to investigate.
I am exhausted.
I'm afraid it will wait until the end of summer.

[2020-07-23 20:44] MROALI commented on #14
As i can see from the google md site, the helper text must be aligned to the label... so if really we want the same thing a padding must be done also to the label

[2020-07-24 17:40] djibe commented on #14
True.
MD Components for the web is so far from standard. Weird for a Google project (as Angular Material)

[2020-07-25 03:35] WillianGruber opened #15 "Missing top padding in cad body"
Hello!

I'm using latest release of material in [Blazorise](https://github.com/stsrki/Blazorise) and noticed card body is missing top padding:
![image](https://user-images.githubusercontent.com/56033692/88447888-8b4a7c80-ce0e-11ea-9fa5-58a627ccca75.png)
![image](https://user-images.githubusercontent.com/56033692/88447890-930a2100-ce0e-11ea-9bfc-91f293343a1b.png)

Could you check this, please?

Tha

[2020-07-25 21:09] djibe commented on #15
Hi, this is a feature, not a bug :D
In order to acheive those cards (https://djibe.github.io/material/docs/4.5/material/cards/) while offering liberty to use a card-header, I set
[code]
Feel free to add a padding utility to your card-body like ```.pt-3```.

Tell me if you see aother solution to this problem.
Thanks for reporting this.

[2020-07-26 19:09] stsrki commented on #15
I also agree with @WillianGruber that this behavior is not good. I checked with old daemonite, bootstrap and also some other material frameworks and all of them have some padding or margin between header and body parts.

btw, you have padding set instead of margin

[code]

[2020-07-26 20:23] djibe commented on #15
Sorry, I was thinking of padding and wrote margin.

I'll do it

[2020-07-26 21:11] djibe commented on #15
Sources in repo updated.

[2020-07-26 21:18] #15 closed, assigned to nobody

[2020-08-03 15:47] MROALI opened #16 "Material Design for datatable.net Component"
Hello,
Any native support for [https://datatables.net/](url) is on the roadmap ?

For example implementing :
https://codepen.io/tmpmosisili/pen/VEjzoM

Thank you in advance

[2020-08-04 08:08] djibe commented on #16
Hi, I did one thème !

Like Select2, I'll do it in early september.
See you

[2020-08-17 13:22] MROALI commented on #16
thankyou  :)

[2020-08-24 10:01] MROALI opened #17 "Checkbox Label font-size And switch component"
Hello,
I think there is some amelioration that we can do to the checkbox :
-  the custom-control-label must have a font-size: 1rem. It looks too small in 0.875rem.
- The Label must be aligned to the bottom of the checkbox.
- The space between the checkbox and the label must be reduced.

![image](https://user-images.githubusercontent.com/22939696/91031803-5f830800-e601-11ea-85de-d8c30ebe0732.png)

[2020-08-27 18:08] djibe commented on #17
Hi, I'll investigate this

[2020-09-07 08:45] MROALI commented on #16
Where can i find documentation for the plugins and for theme select2 and datatable.net ?

[2020-09-07 09:27] djibe commented on #16
Hi, https://select2.org/ and https://www.datatables.net/

I'm working on Material UI doc

[2020-09-07 09:56] MROALI commented on #16
Where will be the location of the material UI Plugins doc ?

[2020-09-07 10:31] djibe commented on #16
Below components, there will be a new section
![Screen Shot 09-07-20 at 12 30 PM](https://user-images.githubusercontent.com/13089414/92378353-f8d41300-f105-11ea-9b4a-bd6d4ac29c56.PNG)

[2020-09-09 05:33] MROALI commented on #17
Any news about the validation color issues for the switch component and disabled color also ?

[2020-09-09 15:13] djibe commented on #8
Hi.
You can check material.css from Master.
I used Material UI style.

I make the release when documentation for plugins is done.
![Screen Shot 09-09-20 at 05 13 PM](https://user-images.githubusercontent.com/13089414/92617645-cbcb6000-f2bf-11ea-9248-21415d2409be.PNG)

I close issue, you can continue the thread if you want to comment new Alerts.

[2020-09-09 15:13] #8 closed, assigned to nobody

[2020-09-09 15:16] djibe commented on #10
You can use material-plugins.css to style select2.
Set theme to "", "filled" or "outlined".
Doc is on the way

[2020-09-09 15:46] djibe commented on #17
Hi,
considering https://material.io/components/selection-controls, Radio label is 14px.
And it is inline-flex with align-items: center

[2020-09-09 17:27] stsrki commented on #8
I like the new alerts style :) thank you!

[2020-09-14 13:38] MROALI commented on #17
Any news about the switch validation color fix and also disabled switch..
https://material-components.github.io/material-components-web-components/demos/switch/

[2020-09-14 13:42] MROALI commented on #16
You didn't put the plugins documentation in the documentation website yet ?
https://djibe.github.io/material/

[2020-09-14 14:28] djibe commented on #16
Hi.
Not yet.
I am thinking about how to present it.

Build a second CSS file for plugins ?
Or build one single large file with plugins ?

[2020-09-14 14:30] djibe commented on #17
Hi,
The disabled switch is here: https://djibe.github.io/material/docs/4.5/components/forms/#switches
And I didn't understand what was wrong with it.

[2020-09-14 14:49] MROALI commented on #17
Scenario :
Turn the switch on then disable it.  ==> Switch must keep it's color and not transformed to gray
Scénario 2 :
If you validate a form which having a switch => even if the switch is off it's turning all its color to green. ==> The problem is we loose the info that the switch was off..

As I said before the information about the switch on or off is by its color so even when validating we m

[2020-09-14 14:50] MROALI commented on #16
I think that depends of the size of the file, if it's not so heavy.. Keep it in one file which will be easier for use and prevent more than call from the navigator to load the file.

[2020-09-14 16:50] djibe commented on #17
Thanks for feedback.
I'm on it.
But Bootstrap simple markup makes it harder to set opacity on switch.

[2020-09-17 12:07] MROALI commented on #14
Any Progress about the floating label on an element which contains invalid-feeback.. and textfield-box ?

[2020-09-22 03:41] justlevine opened #18 "Toasts dont work with Bootstrap Native (easy-fix)"
Hey,

Just noticed that toasts/snackbars arent working with [Bootstrap Native](https://github.com/thednp/bootstrap.native/issues/387).

The reason is that the [`transition` property is on `.show`, instead of on `.toast`.](https://github.com/djibe/material/blob/master/assets/scss/material/_snackbars.scss#L41)

Is there a way to move this around?

PS: unrelated, but also noticed that in [boostrap](h

[2020-09-24 19:12] djibe commented on #18
Hi.
I'll try to see what I can do.

[2020-09-24 19:14] djibe commented on #10
Hi.
You can use material-plugins.css from the dist folder and use Select2 as usual (don't set a theme, or set 'filled' or 'outlined')

[2020-09-25 13:56] zelenij commented on #10
Thanks, will give it a try

[2020-10-07 20:32] djibe commented on #10
Here it is: https://djibe.github.io/material/docs/4.5/plugins/select-select2/

[2020-10-07 20:32] #10 closed, assigned to nobody

[2020-10-16 13:52] MROALI commented on #16
Hello djibe thanks for the good work.

Any idea when your will include the material design for the datatable.net in the source ?

Best regards

[2020-10-16 17:39] djibe commented on #16
Hi, you may try this WIP
[datatables-material.zip](https://github.com/djibe/material/files/5393397/datatables-material.zip)

[2020-10-21 09:37] MROALI commented on #16
Thank you for the file. I tested it (remove the datatable file and added your file..).
There is somebug visible bug like the position of the paginate_button :
![image](https://user-images.githubusercontent.com/22939696/96702144-c0288a00-1391-11eb-92d0-9970bfa6c7c0.png)
Also for example the searchbar is not showing so well :
![image](https://user-images.githubusercontent.com/22939696/96702408-01209

[2020-10-22 18:25] djibe commented on #16
Hi.
I'll try to fix it in next weeks.
Overwhelmed right now

[2020-10-24 16:36] djibe commented on #16
@MROALI  I'm on it right now

[2020-10-24 23:07] djibe commented on #16
@MROALI What do you think of this ?

[datatables.zip](https://github.com/djibe/material/files/5433903/datatables.zip)

Compared to this https://material.io/components/data-tables#anatomy

[2020-10-27 10:45] djibe commented on #16
Hi @MROALI , I will release it in the next version next weekend.

[2020-10-27 10:46] djibe commented on #6
Hi @tbuyle , I will release flatpickr in the Plugin section next weekend for extensive testing.
If it suits you I will set it as default picker.
Sources are in Master branch.

[2020-10-27 16:32] MROALI commented on #16
Thankyou for the new version :

Do i need to set datatable language  $.extend($.fn.dataTable.defaults, {  as u did in the sample ? Or just including the css file ?

Another question, does reponsive plugins will still working using your css ?

[2020-10-28 13:29] djibe commented on #16
Hi, latest source is in master.
Use same config as previously.
Responsive is working, and better in the last commits

[2020-10-30 15:59] MROALI commented on #16
I tested lastest version in master :
1 - search box not showing so well  :
![image](https://user-images.githubusercontent.com/22939696/97725710-c83da380-1ace-11eb-9ebe-037139a1911a.png)
2 - the footer section  also next and prévious are still visislbe
![image](https://user-images.githubusercontent.com/22939696/97727550-d55b9200-1ad0-11eb-85ad-535129dec72f.png)

3- Sort Icon not showing in first co

[2020-10-30 18:26] djibe commented on #16
Yes you are using my old defaults.
I will release the final version this weekend

[2020-11-01 21:31] djibe commented on #16
Hi,
I finished writing doc for DataTables.

Everything is in Master branch and I release new version tomorrow.

Here is the doc you need to move forward.

[DataTables.zip](https://github.com/djibe/material/files/5471800/DataTables.zip)

PS. Are you French ?

[2020-11-02 09:22] MROALI commented on #16
Hello,
i am waiting your new version for today :).
yes i am french :)

[2020-11-02 09:23] djibe commented on #16
Hi,
I am writing Dark theme early version and then I release.

[2020-11-02 15:44] djibe commented on #16
Argh je galère avec Firefox ... (après avoir galéré en JS pour la demo)

[2020-11-02 16:52] MROALI commented on #16
Quel genre de problème ?  CSS ou JS ?

[2020-11-02 17:12] djibe commented on #16
Here it is https://djibe.github.io/material/docs/4.5/plugins/datatables/

Firefox a du mal à comprendre qu'un background est blanc par héritage. Donc l'inversion de couleur avec le dark-theme ne fonctionne pas

[2020-11-02 17:12] #16 closed, assigned to nobody

[2020-11-02 17:50] djibe commented on #6
Hi @tbuyle , here is the Picker https://djibe.github.io/material/docs/4.5/plugins/picker-flatpickr/

If it suits you I will replace Daemonite's one by this one.

[2020-11-02 17:50] #6 closed, assigned to nobody

[2020-11-03 08:37] tbuyle commented on #6
Great job !

[2020-11-03 17:32] MROALI commented on #14
Hello djibe,
is there a way to disable dark theme when my browser is  in dark mode ?
I comment @media (prefers-color-scheme: dark) { in _dark_theme.scss in order to keep my normal theme.

[2020-11-03 18:40] djibe commented on #14
Hi,
well, no.

When you tell browser to set Dark mode when possible, it will !
You can use Microsoft Edge and force Light or Dark mode.

I'll wait for more feedbacks before tweaking this.
However I could set a parameter to easily chose if we integrate this media-query.

Why you don't want it ?
Should I improve it first ?

[2020-11-04 11:22] MROALI commented on #14
I think you should do something like  adding data-theme="auto-dark" in order to activate automatic dark mode.
So in the @media (prefers-color-scheme: dark) you mist prefix the classes with  html[data-theme='auto-dark'] also..  In other hand i think from my experience that the invert is not a good solution for dark theme. you must manage it without using invert  manually

[2020-11-05 21:45] MathieuDR commented on #14
To piggy back on the Dark theme, it took me a few minutes why my site suddenly looked very odd.

I do agree that perhaps a data-class like @MROALI said or a variable to turn it on/off, customisation is key on such a big impact query.

(It can be default on if there is an option to turn it off).

[2020-11-06 18:30] djibe commented on #14
Hi, I'll remove the media query for now.
data-theme is already present in the doc: https://djibe.github.io/material/docs/4.5/material/dark-theme/

[2020-11-07 06:01] MROALI commented on #14
I think you can keep media query but add to all style inside it by something like html[data-theme='auto-dark']  which will turn on automatically the dark mode depending of the style of the navigator.
Othersaying : data-theme="dark" => force always dark mode, data-theme="auto-dark" => will turn on and off dark mode depending of the browser theme..

And about the dark mode theme i think you must cus

[2020-11-09 17:55] djibe commented on #14
Hi,

Fixed in RC2 + new sliders.

[2020-11-10 09:11] djibe commented on #18
Hi @justlevine .
Thx to you I fixed it in master right now: https://github.com/djibe/material/commit/e006880ff45c8dccf1d6755c2a5e2234ae672a8b#diff-d56067c4a1d9bfcc739868f78b66065219dd45512944ecbe953bdbbbd5e0a184
I'll update auto-sizing soon.
Will be in next release.

[2020-11-20 18:15] Devnsyde opened #19 "How do I call change() on TextField?"
I have tried so many variations and they are all undefined:
[code]

I need to call change() because I have put information into the field programmatically and I need the floating label to move up.

[2020-11-20 19:39] djibe commented on #19
Hi,
Material for Bootstrap has nothing to do with Material Design Components you are declaring.

For calling change() on textfield with floating label, read this: https://djibe.github.io/material/docs/4.5/material/text-fields/#usage

Tell me if you have more questions.

[2020-11-20 20:24] Devnsyde commented on #19
They're not the same at all? Wow I feel dumb lol.. I fixed it by doing the following:

[code]

I had to use a timeout because the input isn't set right away I guess, I am also hoping for a better way..

[2020-12-14 11:27] djibe commented on #18
Hi, fixed in 4.5.3

[2020-12-14 11:27] #18 closed, assigned to nobody

[2021-02-02 08:18] cheesycod opened #20 "Bootstrap 5?"
@djibe when do u plan to add bootstrap 5

[2021-02-02 08:21] djibe commented on #20
Hi,

I'll have to dig into it.
But it's a huge work alone.
4.6 coming soon.

[2021-02-04 15:08] djibe commented on #19
Hi, I'll try to look into it.

[2021-02-26 17:05] MROALI opened #21 "invalid-feedback Bug Correction"
Hello,

I hope that everything  is great for you.

I want just to propose to add this css in the theme in order to correct the bug of using invalid-feedback. As you know the  (invalid-feedback div must be present after the form element (input, textarea, etc..) in order to show the error message after form validation.)

so the behaviour is as you can see in the following image :
![image](https://us

[2021-02-26 18:16] djibe commented on #21
Hi !!!

Thx for your proposal.
I'll do it in the next few days.
Thanks a lot for participating and keep in touch

[2021-03-01 08:08] lgemeinhardt opened #22 "Method closest not available in IE"
IE 11 shows the following error (while clicking buttons like https://djibe.github.io/material/docs/4.6/material/buttons/):

SCRIPT438: Object doesn't support property or method 'closest'
ripplet.js (26,11)

[2021-03-01 08:27] lgemeinhardt opened #24 "IE11 does not show material icons"
IE11 does not show material icons, because material font is included via var (not supported in IE11)

Example - https://djibe.github.io/material/docs/4.6/components/breadcrumb/ is renderd like:
Home chevron_right Library

[2021-03-01 19:13] djibe commented on #24
Fixed in https://github.com/djibe/material/commit/bc70a5fdc941df13d279293754b4400637f8e619

Thanks a lot !

[2021-03-01 19:13] #24 closed, assigned to nobody

[2021-03-05 11:08] djibe commented on #21
Hi, I'm fixing it now.

[2021-03-08 13:32] dipan66 opened #26 "Cannot type in input field of type text in modal"
I created a standard modal with a text input field.

I used `$("#searchmodal").modal("show")` from a nav drawer link click event to render the modal. It renders fine - but I just cant seem to be able to click on the input box and type anything. Also, every time I click on the input box, I get the following jquery error

Uncaught InternalError: too much recursion
    jQuery 3
    _enforceFocus nav-

[2021-03-08 13:36] dipan66 commented on #26
Ah well - yes - nav drawer and modal cant be open at the same time.
Closing the issue since this is obviously a BS4 limitation and nothing to do with the excellent framework provided by @djibe

[2021-03-08 13:36] #26 closed, assigned to nobody

[2021-03-08 13:59] djibe commented on #26
Hi, very good news :D

Every bug report is a good thing.
Thanks for using this work.

[2021-03-08 14:03] djibe commented on #19
Hi @Devnsyde ,

did you try this ?

[code]

[2021-03-15 14:10] MROALI opened #27 "Datatable language Configuration"
Hello,

I hope that everything is good for you.  In the documentation for datatable plugin it's better to replace _MAX_ with _TOTAL_ in the info property in the language object. => By using _TOTAL_ we show the total filtered rows and not the Max element present in the table.
https://djibe.github.io/material/docs/4.6/plugins/datatables/

info: '_START_-_END_ of _MAX_'  => info: '_START_-_END_ of _T

[2021-03-17 18:25] djibe commented on #27
Hi, thanks a lot !
Fixed in b00a6a39

[2021-03-17 18:25] #27 closed, assigned to nobody

[2021-03-22 08:44] gaurav2103 opened #28 "Bump Effect during tab Switch"
![image](https://user-images.githubusercontent.com/31451584/111962633-8d3d1a80-8b18-11eb-8d5f-cd843e7a872b.png)

During tab switch when the background is dark why the bump effect takes place it's adding a bad feel to UI, it feels like the icon is loading while only the color is changing.

Is there any way of tackling this?

[2021-03-22 12:31] djibe commented on #28
Hi,

I'm testing the demo and I'm not sure of understanding your problem.

Sorry for that.
Can you be more precise ?

[2021-03-22 12:35] djibe commented on #19
Hi @Devnsyde, feel free to reopen Issue to chat more if necessary

[2021-03-22 12:35] #19 closed, assigned to nobody

[2021-03-22 12:36] djibe commented on #21
Still on it, was too busy :(

[2021-03-22 17:34] gaurav2103 commented on #28
@djibe i have changed the primary color to teal in material.min.css and on active nav to yellow now when i switch the tab it appears to be flicker because of the change of color. The Same you can see in the above screenshot example.

[2021-03-22 17:35] gaurav2103 commented on #28
@djibe  if u will go to the mentioned example just switch the tab and watch carefully the tab icon appears to flicker because of change of color can we avoid it somehow?

[2021-03-22 17:44] djibe commented on #28
Hi, have you a gif or video ?

Did you recompile whole SASS with your new theme colors ?

[2021-03-22 18:02] gaurav2103 commented on #28
https://codepen.io/shukla2103/pen/OJNqyeE?editors=1010

please refer the penned code while i switch tab the icon appears to  blink

[2021-03-22 18:05] gaurav2103 commented on #28
@djibe  when i click on different  tab it changes to blue then white coz of this it appears to blink.

[2021-03-22 19:56] djibe commented on #28
Hi,
Fixed in master.
You can use git clone to fetch latest sources

Thanks a lot for your report

[2021-03-22 19:56] #28 closed, assigned to nobody

[2021-03-23 10:58] gaurav2103 opened #29 "Spiners are not working"
@djibe Spinners are not working i think can you please look into the issue.
Below is the codepen link:
https://codepen.io/shukla2103/pen/VwPYZma

[2021-03-23 11:44] djibe commented on #29
Hi, documentation and your fiddle have spinners working.

You may have prefers-reduced-motion set.

[2021-03-23 11:53] #29 closed, assigned to nobody

[2021-03-23 15:56] gaurav2103 commented on #28
@djibe I am using it by downloading the dist.zip and importing it into vanilla js will the latest download will be able to resolve this?

[2021-03-23 15:57] gaurav2103 commented on #29
@djibe don't have any idea about it can you please help

[2021-03-23 17:16] djibe commented on #29
Hi, have you tried another web browser (Firefox, Edge) ?
Check your developer options and look for prefers-motion-reduced item.

Your fiddle renders like this on my PC
![default](https://user-images.githubusercontent.com/13089414/112189070-e9c93400-8c03-11eb-9ff2-a2ad8b51ae16.gif)

[2021-03-24 05:31] gaurav2103 commented on #29
@djibe thanks i turned on the the show animations options in my windows it is working now

[2021-03-24 08:49] gaurav2103 opened #30 "Extra Large Modal and Large Modal have same size"
@djibe I am using the extra-large modal but its size seems to be the same as the large one could you please look into the issue

[2021-03-24 08:54] gaurav2103 opened #31 "Reset date in DatePicker"
@djibe  how can we reset the date value that is being selected using a reset button not the clear one which is there in picker is their some way of doing it?

[2021-03-24 09:00] gaurav2103 commented on #31
consider this scenario for better understanding :

I have three select dropdown country, state, district now I select all these three after that I pick the date from the picker to consider it 09/09/2020 now I have one button which resets all the fields value all other fields are being reset by that I have written the logic but when it comes to picker it clears the value from input but when pickup

[2021-03-24 17:41] djibe commented on #31
Hi, you are talking of pickadate Picker (https://djibe.github.io/material/docs/4.6/material/pickers/) ?

You may use .clear method as in the official documentation: https://amsul.ca/pickadate.js/api/#method-clear

[2021-03-24 17:41] #31 closed, assigned to nobody

[2021-03-24 17:44] djibe commented on #30
Hi,

true, I'll look into it.

[2021-03-25 06:44] gaurav2103 commented on #31
@djibe Thanks its working the way i want

[2021-04-01 11:45] gaurav2103 opened #32 "Not able to change the background color in steppers"
![image](https://user-images.githubusercontent.com/31451584/113289411-ce4ddf80-930d-11eb-9bce-235743edf99d.png)

I am not able to change the background color is it some issue or i am using the wrong way

[2021-04-01 11:46] gaurav2103 commented on #32
The color white is not changing

[2021-04-01 12:46] tbuyle commented on #32
From the screencap it looks like you are changing the background of your _body_ or another container element.

Stepper have their own styling, including a backround color. these are set in https://github.com/djibe/material/blob/master/assets/scss/material/_stepper.scss where we can see that the variable $stepper-bg is used.

If you use SASS, you can change that variable. If not, you can set a new

[2021-04-01 13:48] tbuyle commented on #22
On the other hand, Microsoft itself will not support IE11 in their own online app anymore (Teams since 2020-11-30 and O365 as of 2021-08-17).

[2021-04-01 18:27] djibe commented on #32
Hi,

thanks @tbuyle for your help.

Steppers have their own background because as many components for some themes they might need a proper dedicated background (ie Dark mode: greyish and not dark).
A transparent background would cause a failing UX design.

[2021-04-01 18:27] #32 closed, assigned to nobody

[2021-04-01 18:29] djibe commented on #22
Hi,
I'll work on it tomorrow.

[2021-04-02 00:43] Duplore commented on #20
@djibe i could help a tiny bit with css 😄

[2021-04-02 22:31] djibe commented on #20
Hi,
I have a baby incoming and cannot invest more on it now.
If I create the base files in a branch, can you work on it ?

[2021-04-03 20:45] Duplore commented on #20
@djibe if you got a discord we can keep in contact and I would love to contribute my time

[2021-04-04 15:05] djibe commented on #22
Gosh,
I reworked the rollup.config.js for days but still no polyfills for IE10.

It looks like I have to try with: @babel/plugin-transform-runtime

If you can try this with latest commits.
https://github.com/djibe/material/blob/master/build/rollup.config.js

Thanks

[2021-04-04 17:29] djibe commented on #20
Hi @Kloptoe , thanks for your participation.

What are your skills ?
What will be difficult is to bring the JavaScript plugins to ES6.

[2021-04-04 22:04] Duplore commented on #20
i know css, html, Scss

[2021-04-04 22:49] djibe commented on #22
Fixed in latest commit.
Use material.min.js from github.

Babel doesn't polyfill DOM methods like closest().
I had to import a specific polyfill.

[2021-04-04 22:49] #22 closed, assigned to nobody

[2021-04-05 03:46] Duplore commented on #20
*still learning SCSS

[2021-04-06 02:44] Duplore commented on #20
@djibe

[2021-04-06 09:05] lgemeinhardt commented on #22
Looks good for me (I will close my PR) ...
Thank you very much!

[2021-04-06 15:40] djibe commented on #20
Hi.
Thanks.
I'll try setting the base for BS5.
However it is a totally new project architecture and technologies (Hugo, variables and latest CSS specs so it will require a lot of work)

[2021-04-07 00:51] Duplore commented on #20
alright, do you got a discord if so that'll be great to keep contact in case I got anything to ask

[2021-04-07 17:05] djibe commented on #20
Well, Discord is not my Generation :D
Skype ? :D

[2021-04-07 23:17] Duplore commented on #20
i'll download it ye

[2021-04-07 23:21] Duplore commented on #20
got it now to figure out how to add you lmao

[2021-04-08 07:29] gaurav2103 opened #33 "White Overlay on Button"
![image](https://user-images.githubusercontent.com/31451584/113985623-00a99080-986a-11eb-8101-682241111472.png)

When I click on the reset button a white overlay comes on button again if I click it goes.

I don't want this how to achieve this

I want a button like this
![image](https://user-images.githubusercontent.com/31451584/113985933-4fefc100-986a-11eb-9ce3-8163eb64abc8.png)

[2021-04-08 07:43] tbuyle commented on #33
It seems that this is due to the button being on focus.

See below for info on the CSS. But rather than changing the CSS, I'd recomend changing the behviour of you site / app so that, once reset is triggered, the button goes out of focus. Focused style are there for usability purpose.

The code for the white overlay in in _button.scss. Right after the 'Alternate buttons' comment, there is a loop t

[2021-04-08 08:41] gaurav2103 commented on #33
@tbuyle thanks for the suggestions and help

[2021-04-08 08:41] #33 closed, assigned to nobody

[2021-04-08 09:10] gaurav2103 opened #34 "Scrollbar for Select"
![image](https://user-images.githubusercontent.com/31451584/113999881-158d2080-9878-11eb-9eba-377e8c0dc95a.png)
  Can I change the scrollbar to this type?

![image](https://user-images.githubusercontent.com/31451584/113999989-30f82b80-9878-11eb-8d04-22d7efcd9c29.png)
 the second scrollbar is coming for the web when I use the material but not for selection. is it possible to achieve?

[2021-04-08 09:15] gaurav2103 commented on #34
and also how could I control the number of options to be shown in the select dropdown.
Suppose i want 8 options  to shown and for rest scroll bar come

[2021-04-08 09:22] tbuyle commented on #34
Typically, how select options are displayed depends on the browser and device. This is thus not directly styled by Material.

However, if you want more control on the selects and their options, Material integrates well with Select2 jquery plugin :  https://djibe.github.io/material/docs/4.6/plugins/select-select2/

[2021-04-08 17:18] djibe commented on #34
Hi @shukla2103 , which component are you using ?
Normaly stylebars are always cool using Chrome or Firefox.
HTML5 doesn't offer the ability to choose menu's dropdown size.

[2021-04-08 17:18] djibe commented on #34
Thanks @tbuyle for your support.

[2021-04-09 04:37] gaurav2103 commented on #34
@djibe I am using text field- select component with floating label

[2021-04-09 13:21] Duplore commented on #20
@djibe

[2021-04-09 13:23] djibe commented on #20
add live:djibe89

[2021-04-09 13:27] Duplore commented on #20
added @djibe

[2021-04-18 20:57] Duplore opened #35 "Tooltips are not working."
https://gyazo.com/0283ccf7f74152ea39f93f82c208ccd3

Seems the tooltips do not work in 4.6

I made sure everything was added correctly but it seems like the tooltips do not work.

[2021-04-19 14:50] MROALI commented on #21
Hello, what i proposed will fix the display issue, but there is an impact on help text position. It will be a little bit (35px) far from the input, if no error found.

![image](https://user-images.githubusercontent.com/22939696/115256196-4b12f300-a12f-11eb-9d53-e7300e80324f.png)

![image](https://user-images.githubusercontent.com/22939696/115256234-5534f180-a12f-11eb-8c70-c786945c7220.png)

[2021-04-19 16:38] #35 closed, assigned to nobody

[2021-04-19 16:50] djibe commented on #21
Hi, I promise I will fix this next week.
Too much work.
I've done it but I wanted to have something cleaner.

[2021-04-19 16:51] #34 closed, assigned to nobody

[2021-04-23 03:54] Posandu opened #36 "Hide the overflow in docs."
@djibe  The docs seems to show a horizontal scrollbar please hide it . It's distracting. See the image below.
<img src="https://i.ibb.co/jfXFJ5k/Capture.png">

[2021-04-23 18:17] djibe commented on #36
Hi, thx for reporting.
It's true this page has a problem.
You can read this one if you prefer for now: https://djibe.github.io/material/docs/4.6/material/dialogs/

[2021-04-23 18:18] djibe commented on #36
The table is obviously doing the damage.

[2021-04-24 08:24] Posandu commented on #36
@djibe replace this code for the first table
[code]

[2021-04-24 09:20] Posandu opened #37 "Change modal box shadow"
Please can you change the box shadow of the modal component to this
[code]

Before
<img src="https://i.ibb.co/ph3pft3/Screenshot-2021-04-24-Screenshot-1.png">
After adding the code
<img src="https://i.ibb.co/yVyzRpK/Screenshot-2021-04-24-Screenshot.png">
The 2nd one is the material design modal. See it https://material.io/inline-tools/dialog/

[2021-04-24 12:38] djibe commented on #36
If you need it right now, better set
.table td,
 .table th {
    white-space: normal;
  }

 Will be online next week.
 Thanks a lot

[2021-04-24 12:38] #36 closed, assigned to nobody

[2021-04-24 14:18] djibe commented on #37
Hi, as stated in _dialog.scss, shadows come from Material Components for the web: https://material-components.github.io/material-components-web-catalog/#/component/elevation

[2021-04-24 14:39] Posandu commented on #37
Can you add the box shadow that is officially in material design ?

[2021-04-24 15:06] djibe commented on #37
OK I will.
Can you provide me links to material.io components to check all Components shadows ?
![Screen Shot 04-24-21 at 05 03 PM](https://user-images.githubusercontent.com/13089414/115963387-5a26e600-a51f-11eb-82c8-ed070d4993db.PNG)

[2021-04-24 15:26] Posandu commented on #37
Thanks for responding , You can see all the components <a href="https://material-components.github.io/material-components-web-catalog/#/">Here</a>

[2021-04-24 15:37] djibe commented on #37
Thx I know :D

[2021-04-24 15:39] Posandu commented on #37
Did you try adding this to your search ? Created by Google https://programmablesearchengine.google.com/cse/create/new

[2021-04-25 07:18] Posandu commented on #37
closing the issue thanks !

[2021-04-25 08:36] djibe commented on #37
Hi, you can keep it open.
I will change the shadows tonight.
Then I'll work on bringing back the search menu.

[2021-04-25 09:41] Tronic247 commented on #37
_You are such a nice person_ & **this is the best framework** comparing for other frameworks like[ Mdbootstrap](https://mdbootstrap.com/). If you need help with styling that search engine I will help with some code.

[2021-04-25 12:06] Posandu opened #38 "How to change the color of a text field ?"

[2021-04-25 17:03] djibe commented on #38
Hi, cany ou be more precise ?

Color of text ? Placeholder ? Border ? Background ?

[2021-04-25 17:24] djibe commented on #37
Well, didn't find any diffrence between my modals and Google's ones.

[code]

and

[code]

[2021-04-25 17:24] #37 closed, assigned to nobody

[2021-04-25 17:25] #14 closed, assigned to djibe

[2021-04-27 02:38] Posandu commented on #38
Sorry for no information , I need to change Color of text , Placeholder and Border

[2021-04-27 14:22] djibe commented on #38
Hi,

you can override variables: $textfield-color, $textfield-placeholder-color and $textfield-border-color / $textfield-border-color-hover / $textfield-border-color-focus

See assets/scss/variables/_variable-material.scss

[2021-04-27 14:35] Posandu commented on #38
okay

[2021-04-27 14:35] #38 closed, assigned to nobody

[2021-04-28 06:33] Posandu opened #39 "Can you add material design select ?"
Hello this is nice framework , can you add the material design select component like [this](https://material-components.github.io/material-components-web-catalog/#/component/select) ?

[2021-04-28 17:18] djibe commented on #39
Hi, already there: https://djibe.github.io/material/docs/4.6/plugins/select-select2/

[2021-04-28 17:18] #39 closed, assigned to nobody

[2021-05-02 09:09] stsrki commented on #20
The Bootstrap 5 is going to be needed soon for my project and I would also like to help with this if needed.

@djibe How do you plan to proceed with Bootstrap 5? Considering it is quite different from Bootstrap 4 I think creating a new repository would be the best option.

[2021-05-02 21:13] djibe commented on #20
Hi everyone.
Thanks for your messages.
I was hesitating to create a new repo. I will.

How should I name the project:

- Bootstrap 5 Material
- Material UI 5 for BS
- Material for Bootstrap 5
- Material UI for BS5

[2021-05-03 07:36] stsrki commented on #20
Out of all, "Bootstrap 5 Material" is self-descriptive.

Other choices

- BM5
- BootMat5
- Material5

[2021-05-03 21:25] djibe commented on #20
Repo created: https://github.com/djibe/bootstrap-5-material

I'll have to dig in and set the base for your contribution

[2021-05-04 06:45] stsrki commented on #20
The initial PR with Bootstrap is created.

Can you make me a contributor on a repo? Or do you prefer I work on my own fork?

[2021-05-04 07:26] stsrki commented on #20
@djibe Thanks for adding me as a contributor.

Regarding the previous PR, I might have made a mistake. Instead of adding a full Boostrap source, it might be better to use their own startup template and then only add Bootstrap as a dependency. See their guide https://getbootstrap.com/docs/5.0/customize/overview/

startup template at https://github.com/twbs/bootstrap-npm-starter

What do you think i

[2021-05-04 07:39] djibe commented on #20
Hi.

Thanks for the PR I did the same last night :D

Since we heavily modify the code I don't see how we can use it as a dependency.
What do you think ?

[2021-05-04 08:02] stsrki commented on #20
Well, having full source code with all documentation page have its benefits. But we will need to keep track of any changes in the main bootstrap repo. For now it can stay like this and later we can refactor if needed.

[2021-05-04 22:11] djibe commented on #30
Hi,
modal-xl is now Full-screen dialog: https://material.io/components/dialogs#full-screen-dialog
Thanks for your report.
Doc is updated in source but not yet online.
You can use latest sources to fix it

[2021-05-04 22:11] #30 closed, assigned to nobody

[2021-05-05 20:40] stsrki opened #40 "Card overflow is messing with dropdown menu"
If a dropdown is placed inside of card element it will be hidden when it is too large

![image](https://user-images.githubusercontent.com/900302/117205957-8df0ee00-adf2-11eb-902a-9d46ffaa924c.png)

When I disable overflow it seems to work

[code]

![image](https://user-images.githubusercontent.com/900302/117206118-baa50580-adf2-11eb-8817-27e22ba5040d.png)

Also, I was comparing Material with regul

[2021-05-06 09:22] djibe commented on #20
Yipeee: https://blog.getbootstrap.com/2021/05/05/bootstrap-5/

[2021-05-06 09:29] stsrki commented on #20
Just saw it earlier. I guess it is time to slowly start migrating :)

[2021-05-06 18:24] djibe commented on #40
Hi, fixed in latest commit.
Thanks a lot for your debugging !

By the way, if you are looking for an Autocomplete, have you tried Select2 from the Plugins menu ?

[2021-05-06 18:24] #40 closed, assigned to nobody

[2021-05-06 18:35] stsrki commented on #40
Thanks!

Yes I saw Select2 plugin and I have a plan to implement it as an extension for Blazorise at some point. But I always prefer to have native Blazor components instead of depending too mich on javascript.

[2021-06-09 16:35] djibe commented on #21
Fixed in 4.6.0-RC2

[2021-06-09 16:35] #21 closed, assigned to nobody

[2021-06-09 16:36] #4 closed, assigned to nobody

[2021-06-10 10:28] gaurav2103 opened #41 "Selected Index overlapping with label"
![image](https://user-images.githubusercontent.com/31451584/121509218-0a837780-ca04-11eb-9d07-35ca575a0b15.png)

The above image overlaps with the label when its attribute is kept as selected.

I want like the below image:
![image](https://user-images.githubusercontent.com/31451584/121509722-909fbe00-ca04-11eb-8a94-1383eb648deb.png)
 Please help.

[2021-06-10 17:06] djibe commented on #41
Hi, you probably didn't initialize floating labels:
`$('.floating-label .custom-select, .floating-label .form-control').floatinglabel();`

[2021-06-10 17:06] #41 closed, assigned to nobody

[2021-06-11 08:46] gaurav2103 commented on #41
@djibe I have used the floating-label class with select but the label is overlapping.
Actually i am loading the values in the select box onpageload with one selected option.

[2021-06-11 17:07] djibe commented on #41
Hi, you see first option must be empty

https://djibe.github.io/material/docs/4.6/material/text-fields/#demo-for-floating-label-text-fields

[2021-06-13 05:14] cheesycod opened #42 "Docs not yet showing rc2"
The docs don’t show rc2 even though the releases here does…

[2021-06-13 15:25] djibe commented on #42
True. Thanks.
Thought I could use some Git commands to deploy docs automatically. My Git seems borken.
I'm on it.

[2021-06-16 14:05] Posandu opened #44 "Add material design select with floating label and smooth transition when closing and opening"
You get the idea compare https://djibe.github.io/material/docs/4.6/plugins/select-select2/ vs https://material-components.github.io/material-components-web-catalog/#/component/select

[2021-06-16 15:58] djibe commented on #44
Hi,
I won't be able to do this.
But I'll merge your PR if needed.
Thanks

[2021-06-17 17:31] Posandu commented on #44
@djibe Okay then bye bye issue , +100 for developing framework , -1 for no floating labels  :( !!

[2021-06-17 17:39] djibe commented on #44
Hello,
I'll try to tweak Select2. Or you may know a better alternative ?

[2021-06-17 17:56] Posandu commented on #44
Tada !!
https://jsfiddle.net/nsdpayk6/

[2021-06-17 18:01] djibe commented on #44
Awesome.
I have to figure out how to compile docs from master to gh-pages branch.

[2021-06-19 16:56] Tronic247 commented on #44
One thing more ... If this helped a lot please subscribe my Youtube Channel https://www.youtube.com/tronic247?sub_conformation=1 , thanks

[2021-06-19 16:59] Posandu commented on #44
@djibe Also can you replace the ripple effect like this https://jsfiddle.net/fhcxystv/

[2021-06-22 04:45] Tronic247 commented on #44
@djibe ?

[2021-06-22 07:04] djibe commented on #44
Yes I'm here :D
But i have a newborn ...

[2021-06-22 13:13] Tronic247 commented on #44
Sorry :(

[2021-06-22 14:04] djibe commented on #44
I'll do it ... when I have some time.

[2021-06-22 14:38] djibe commented on #42
Online, finally

[2021-06-22 14:38] #42 closed, assigned to nobody

[2021-06-23 13:14] Posandu opened #45 "Search Doesen't work at all"
![image](https://user-images.githubusercontent.com/76736580/123102707-f6ebfe00-d452-11eb-9373-115b0d1a3947.png)

[2021-06-23 13:31] djibe commented on #45
Hi, yes I saw it yesterday.
I looked at the _docsearch_ config and can't find why it doesn't work.

[2021-06-25 15:54] Tronic247 commented on #45
Check browser console when searching
![image](https://user-images.githubusercontent.com/76736580/123451958-96e48b80-d5fb-11eb-95b5-778fc5853fa8.png)

[2021-06-25 16:22] djibe commented on #45
Hi, saw it earlier, even though I regenerated the API key.
docsearch is not easy to configure...

[2021-06-25 17:38] Tronic247 commented on #45
Then remove the search

[2021-06-28 11:06] Posandu commented on #45
@djibe I think you should remove this search until things are stable

[2021-06-28 17:20] djibe commented on #45
I will. Thx

[2021-07-01 18:46] gaurav2103 opened #46 "Date Picker"
How can I implement the date picker to select only 1-year date range from any particular date when I have two date pickers one is the start date another is end date, for example, i have selected 01-01-2019 as the start date then I can only select end date up to 01-01-2020.

![image](https://user-images.githubusercontent.com/31451584/124175082-c64b3a80-daca-11eb-9ea0-13d40b8a1e6e.png)
For reference

[2021-07-05 07:52] djibe commented on #46
Hi, it is wise to use flatpickr: https://flatpickr.js.org/examples/

https://djibe.github.io/material/docs/4.6/plugins/picker-flatpickr/

[2021-07-11 14:49] Tronic247 commented on #45
Taking longer than usual ;(

[2021-07-11 14:49] #45 closed, assigned to nobody

[2021-07-29 18:06] djibe commented on #45
Fixed.
Docsearch HOWTO is really not clear.
Had to edit search config from their repository.

[2021-08-11 17:52] ayoubkhan558-zz commented on #20
When you are planning to update to Bootstrap 5?

[2021-08-13 22:13] Duplore opened #48 "dropdown link not working"
Having this issue with the linking in the dropdown-menu

https://stackoverflow.com/questions/15050095/a-link-not-working-by-clicking-only-work-by-open-link-in-new-tab-command

[2021-08-14 19:24] djibe commented on #20
Hi,
I won't be able to do this with 2 kids.
I could help, but can't be alone.

[2021-08-15 14:12] djibe commented on #48
Hi, I don't see how this JS bug relates to this CSS library.

[2021-08-16 09:11] Duplore commented on #48
links do not work in dropdown.

[2021-08-16 09:12] Duplore commented on #48
I can't seem to find an issue on why it's doing that, also this issue occurs in your docs for dropdowns so its not my side.

[2021-08-16 09:13] Duplore commented on #48
Links do not work for dropdown items nor other links that's not related to the class 'dropdown-item'

[2021-08-16 14:46] djibe commented on #48
Hi @Duplore , the docs.js file blocks links default behaviour in the documentation.
It is intended to prevent weiird actions when playing in the documentation sandbox.
In your own projects, it won't be a problem.
I call material.min.js in my own projects and have no dropdown-item or dropdown links problems.

[2021-08-16 14:46] #48 closed, assigned to nobody

[2021-09-02 10:55] #44 closed, assigned to nobody

[2022-06-15 08:59] halfpastfouram opened #49 "Using / for division is deprecated and will be removed in Dart Sass 2.0.0"
Using sass 1.52.3 and sass-loader 12.6.0 I get the following deprecation warning over and over again:

[code]

I think it is caused by the following contents of `_responsive-embed.scss`:
[code]

[2022-06-16 19:24] djibe commented on #49
Hi,

Bootstrap 4 and therefore Material are compiled with node-sass.
Latest supported version is 5.

Projects won't be upgraded but for State of The Art SASS, you need to move to Bootstrap 5.

I'm sorry about that, and I am myself starting to struggle with node-sass 5 and compatible NodeJS versions.

Thanks for your comment,
Best,
djibe

[2022-06-16 19:24] #49 closed, assigned to nobody

[2022-06-16 19:38] halfpastfouram commented on #49
That's a shame. I need a way to fix/prevent 158 of these errors for a client without replacing the entire bootstrap layout.

I'll post a solution here, if I ever find one.

[2022-06-19 21:14] djibe commented on #49
Hi,
 a shame I don't know as BS4 is ageing.

However I'll try to see if 4.6.1 improves this: https://github.com/twbs/bootstrap/releases/tag/v4.6.1

[2022-06-22 20:43] djibe commented on #49
Hi, I upgraded code BS 4.6.1

Everything in master branch is compatible with node-sass 6 and removes all errors when building.
And now compatible with node 16+

[2022-06-22 20:43] djibe commented on #49
I'll publish npm tomorrow

[2022-07-24 08:03] nitinmukesh opened #50 "Any boilerplate code available"
Hello,

I am new to web development and working on a free web application for users interested in Astrology which I already developed (a lot of new features to add) but now want to use some fancy components to rebuild the frontend.
https://rococo-beijinho-7c6afc.netlify.app/

Please does someone have a boilerplate code (with top bar, menu, etc) with djibe/material library to help me get started. I

[2022-07-26 17:05] djibe commented on #50
Hi, the official site is built with default components: https://djibe.github.io/material/

Advanced components are available from the Material submenu.

[2022-08-18 14:25] nitinmukesh commented on #50
Thank you

[2022-08-18 14:25] #50 closed, assigned to nobody